<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 前端版本号-->
  <add key="Ver" value="2" />
  <add key="IsDebug" value="true" />
  <add key="vs:EnableBrowserLink" value="false"/>

  <!-- ================== 3：访问过滤配置 ================== -->

  <!-- ================== 4：系统软件参数配置 ================== -->

  <!-- ================== 5：外部邮件参数 ================== -->
  
  <!-- ================== 6：服务器参数  ================== -->
 

  <!-- ================== 8： 跨域配置参数================== -->
  <add key="CORS:AllowedMethods" value="POST, GET, OPTIONS, DELETE, PUT" />
  <add key="CORS:AllowedOrigins" value="http://localhost:6302,http://localhost:12007,http://localhost:12008" />
  <add key="CORS:AllowedHeaders" value="*" /> 

</appSettings>